.awesome-features{
    font-family: "Exo2Regular";
    box-sizing: border-box;
    width: 50%;
    margin-left: 25%;
    margin-top : 10%;
}

.awesome-features__pink-text{
    color: #ff6d6d;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

.awesome-features__bold-text{
    color:black;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 30pt;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.awesome-features__feature{
    display: flex;
    justify-content: space-between;
}

@font-face {
    font-family: "Exo2Regular";
    src: url(../fonts/Exo2Regular.ttf);
}   