.footer {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  height: 220px;
  background-color: #ffffff;
  margin-top: 0;
  padding-top: 65px;
  padding-left: 220px;
  font-family: "Exo2Regular";
}

.footer__contacts__text {
  font-size: 14px;
  line-height: 25px;
}

.footer__contacts__main-text {
  font-size: 17px;
  margin-bottom: 10px;
}

.footer__support {
  display: flex;
  flex-direction: column;
}

.footer__support__main-text {
  display: block;
  margin-bottom: 25px;
}

.footer__support__link {
  display: block;
  margin-bottom: 7px;
  font-size: 13px;
}

.footer__newsletter {
  display: flex;
  flex-direction: column;
}

.footer__newsletter__mail {
  display: flex;
  flex-direction: row;
}

.footer__newsletter__mail-input {
  width: 220px;
  height: 50px;
  padding: 10px 30px;
  box-sizing: border-box;
  border: 2px solid #999cb4;
  font-family: "Exo2Medium";
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.footer__newsletter__mail-input:focus {
  outline: none;
  border: 2px solid #ff6d6d;
}

.footer__newsletter__mail-button {
  width: 50px;
  height: 50px;
  background-color: #ff6d6d;
  display: block;
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
  transition: 0.7s;
}

.footer__newsletter__mail-button:hover {
  box-shadow: 1px 1px 10px red;
}

.footer__newsletter__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-left: 40px;
  margin-top: 10px;
}
.footer__newsletter__icons__link {
  color: #cbcbcb;
  display: block;
}

@media screen and (max-width: 1075px) {
  .footer__newsletter__mail-input {
    width: 150px;
  }
}

@media screen and (max-width: 929px) {
  .footer {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 510px) {
  .footer {
    flex-direction: column;
    height: 700px;
    max-width: 100%;
    padding: 0 0 0 0;
  }

  .footer__contacts,
  .footer__support,
  .footer__newsletter {
    margin-top: 5%;
    margin-left: 5%;
  }
}
