body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    transition: 0.7s linear;
}

a:hover{
    color:#ff6d6d;
}



.text-wrapper{
    background-image: url(../img/bg/bgintro.jpg);
    background-size:auto 100%;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding-bottom: 160px;
    margin: 0;
    position: relative;
}

.features-wrapper{
    background-image: url(../img/bg/bgfeatures-coffee.png), url(../img/bg/bgfeatures-earphones.png), url(../img/bg/bgfeatures-pens.png);
    background-position: 95% 100%, 95% 0, 5% 0;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-color: #f6f5f3;
    min-height: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 160px;
    margin: 0;
    position: relative;
}

.picture-text-wrapper{
    background-image: url(../img/bg/bgdescription.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    padding-bottom: 160px;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
}



