.picture-text {
  width: auto 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../img/bg/bgdescription.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 500px;
  padding-bottom: 100px;
}

.picture-text__picture-block {
  margin-top: 100px;
  margin-left: 50px;
  width: 45%;
  display: inline-block;
}

.picture-text__picture {
  margin-left: 1%;
  width: 110%;
}

@media screen and (max-width: 775px) {
  .picture-text__picture {
    max-width: 100%;
    margin-left: 55%;
  }

  .picture-text__picture-block {
    width: 40%;
  }

  .picture-text {
    flex-direction: column;
  }
}
